body {
  margin: 0;
    background-color: #999999;
     font-family: "Verdana"; 
  }

h2 {
    padding-bottom: .4em;
    padding-top: 2em;
    font-size: 2em;
    
}


.max-width {
    max-width: 60em;
    margin: auto;
}

#banner {
    position: relative;
    background: #999;
}

#banner h1 {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    margin: 0 1%;
     font-size: 2.9em;
    color: #ffffff;
    
}

#banner .video-content {
    position: relative;
    padding-bottom: 39%;
    height: 0;
}



#banner .video-content video {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}




/*
.vidframe {
  position: relative;
  height: 0;
    padding-bottom: 2em;
  }

.vidframe video {
  position: absolute;
  width: 100%;
  height: 100%;
  }
#mainvid {
    padding-bottom: 50%;
       
}
#banner .vidframe {
    position: relative;
  padding-bottom: 39%;
  overflow: hidden;
  }

#banner .max-width {
  position: relative;
  z-index: 2;
  }
*/

figure {
  margin: 0;
}

/* flexible images */

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.gallery figcaption {
   margin-top: 1em;
}

@media (min-width: 48em) {
  
.gallery figure {
  float: left;
  width: 50%;
}
  
.gallery .portrait {
  margin-right: -100;
}

figure .frame {
  position: relative; /* new */
  height: 0;
  padding-bottom: 62.5%;
}
 
/* new */
figure img {
  position: absolute; 
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
}

figure .frame img {
  height: 100%;
}

figure .landscape img {
  width: 100%; /* new */
  max-width: none;
}
 nav {
    font-size: 1.5em;
    
}
/*
    h1 {
    position: relative;
    height: 0;
        padding-left: .5em;
    font-size: 2.9em;
    color: #ffffff;
    
}
*/
li {
    display: inline;
    padding-left: 2em;
    float:left;
}   
  p {
    font-size: 1.3em;
} 
    figcaption {
        font-size: 1.3em
    }
}