body {
  margin: 0;
  }

.max-width {
  max-width: 60em;
  padding: 0 1em;
  margin: 0 auto;
  }

.frame {
  position: relative;
  height: 0;
  }

.frame video {
  position: absolute;
  width: 100%;
  height: 100%;
  }

#banner {
  padding-bottom: 42.2%;
  overflow: hidden;
  }

#banner .max-width {
  position: relative;
  z-index: 2;
  }

#concepts {
  position: absolute;
  right: 0;
  }


